

/*Added body css*/
body{
  /* background-image: url(jorge-ramirez-MceA9kSze0U-unsplash\ \(1\).jpg); */
 background-color: #282c34;
  height: 94.5vh;
  background-size: 1550px;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.navbar-left a:hover {
  text-decoration: underline;
}

.services {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-service{
  width: 500px;
  height: 300px;
margin: 200px;
}
.glass{
  background: rgba(248, 97, 81, 0.418);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow:0 8px 32px 0 rgba(255,255,255, 0.37);
}

/* Define a CSS class for the logo */


/* Apply the .logo class to the image element */
/* .navbar-right img.logo {
 
} */
body {
  margin: 10px;
  padding: 10px;
}

/* .container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   Background color for the container
} */

.scroll-box {
  
  width: 600px; /*Adjust the width as needed */
   height: 500px; /*Adjust the height as needed */
  background-color: #fff;
   overflow: auto; /*Enable scrolling when content overflows */
  padding: 20px;
}


body-aboutus{
  margin: 0;
  padding: 0;
}

.container-aboutus {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   /* Background color for the container */
}

.square-aboutus {
  box-sizing: border-box;
  width: 1000%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  padding-bottom: 200px;
  background-color: #fff;
  text-align: center;
  line-height: 20px; /* Vertically center text */
  
}
/* .image-aboutus{

} */

/* home css */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.white-box {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.white-box img {
  max-width: 100%;
  height: auto;
}










